/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --font-weight-text: 400;
  --font-weight-title: 700;
  --font-size: 18px;
  --font-size-button: 14px;
  --line-height-button: calc(12.6 / 14);
  --line-height-text: calc(21 / 18);
  --line-height-title: calc(22 / 18);
  --bg-color: #fff;
  --accent-color: #000;
  --text-color-button: var(--bg-color);
  --heart-countour: var(--accent-color);
  --heart-fill: red;
  --bg-image: repeating-linear-gradient(to right, #d3d3d3, transparent 3px),
    repeating-linear-gradient(to bottom, #d3d3d3, transparent 3px),
    linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a);
  --stroke-color: var(--bg-color);
}
